:host {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.button {
  padding: 8px 16px;
  min-width: 113px;
  border-radius: 8px;
  min-height: 40px;
  background-color: #da2032;
  border: none;
  color: #fff;
  cursor: pointer;

  &__secondary {
    background-color: grey;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    &--left {
      margin-right: 8px;
    }
    &--right {
      margin-left: 8px;
    }
  }
}
