.button {
  padding: 8px 16px;
  min-width: 113px;
  border-radius: 8px;
  min-height: 40px;
  background-color: #da2032;
  border: none;
  color: #fff;
  cursor: pointer;

  &:disabled {
    background-color: rgba(102, 111, 120, 0.1);
    color: rgba(102, 111, 120, 1);
  }

  &__secondary {
    background-color: #bbc4cc;
    color: #666f78;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    &--left {
      margin-right: 8px;
    }
    &--right {
      margin-left: 8px;
    }
  }
}
