.mat-expansion-panel {
  box-sizing: border-box !important;
  width: 100% !important;
  min-height: 97px !important;
  box-shadow: none !important;
  background: none !important;
  padding: 25px 0px 25px 0px;
}

.mat-expansion-panel .mat-content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  @media (max-width: 1440px) {
    margin-left: 60px;
  }
}

.mat-expansion-panel-header {
  padding: 0 0 0 0 !important;
}

.mat-expansion-panel-header-title {
  font-size: 20px !important;
  font-weight: bold;
  color: #fff !important;
}

.mat-expansion-panel-header-description {
  margin-top: 4px;
  color: #e5e5e5 !important;
  font-size: 16px;
}

.mat-expansion-indicator {
  position: relative;
  right: 35px !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-content {
  margin-top: 20px;
  background-color: #a2a9b1 !important;
  padding: 0 0 0 40px !important;
  @media (max-width: 1440px) {
    padding: 0 0 0 20px !important;
  }
}

.mat-expansion-indicator::after {
  position: relative;
  top: -10px;
  color: #fff !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: none !important;
}
