.mat-mdc-form-field {
}

.mat-mdc-text-field-wrapper {
  box-sizing: border-box;
  background-color: transparent !important;
  width: 266px !important;
  height: 44px !important;
  border-radius: 8px !important;
  border: 1px solid rgba(130, 140, 150, 0.4) !important;
  @media (max-width: 1599px) {
    width: 294px !important;
  }
  @media (max-width: 1439px) {
    width: 263px !important;
  }
  @media (max-width: 768px) {
    width: 292px !important;
  }
}

.mdc-line-ripple {
  display: none;
}

.mat-mdc-input-element {
  position: relative;
  top: -4px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-error {
  margin-top: 4px !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #ff001f;
}

.mdc-icon-button {
  position: relative;
  top: -6px;
  color: #a2a9b1;
}

.mdc-text-field--focused {
  background-color: transparent !important;
}

.mdc-text-field--invalid {
  background-color: transparent !important;
  border-color: #ff001f !important;
}

.mat-mdc-form-field-type-mat-input.ng-invalid.ng-dirty.ng-untouched
  .mdc-text-field--focused {
  border-color: #ff001f !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
