<div class="table__checkedQty">
  Количество выбранных записей: {{ checkedQty }}
</div>
<table mat-table [dataSource]="dataSource" class="table">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">
      Действия
    </th>
    <td mat-cell *matCellDef="let element" class="table__actions">
      <mat-icon>more_horiz</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="table__header-row table__header-row--checkbox"
    >
      <mat-checkbox
        class="table__checkbox"
        [(ngModel)]="allCheckbox"
        (ngModelChange)="checkLogin($event)"
      ></mat-checkbox>
      Логин
    </th>

    <td mat-cell *matCellDef="let element" class="table__column">
      <mat-checkbox
        class="table__checkbox"
        (change)="checkOneLogin($event)"
        #checkboxLogin
        >{{ element.name }}</mat-checkbox
      >
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">Телефон</th>
    <td mat-cell *matCellDef="let element">
      {{ formatePhone(element.phone) }}
    </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="is_admin">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">Роли</th>
    <td mat-cell *matCellDef="let element">{{ getRole(element.is_admin) }}</td>
  </ng-container>

  <!-- Update_at Column -->
  <ng-container matColumnDef="update_at">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">
      Дата изменения
    </th>
    <td mat-cell *matCellDef="let element">
      {{ formateDate(element.update_at) }}
    </td>
  </ng-container>

  <!-- Create_at Column -->
  <ng-container matColumnDef="create_at">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">
      Дата создания
    </th>
    <td mat-cell *matCellDef="let element">
      {{ formateDate(element.create_at) }}
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">Статус</th>
    <td
      mat-cell
      *matCellDef="let element"
      class="table__status"
      [class]="
        element.status === 'ACTIVE'
          ? 'table__status--active'
          : 'table__status--block'
      "
    >
      {{ getStatus(element.status) }}
    </td>
  </ng-container>

  <!-- ECP Column -->
  <ng-container matColumnDef="is_ecp">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">
      Наличие ЭП
    </th>
    <td mat-cell *matCellDef="let element" class="table__ecp">
      <mat-icon class="table__ecp--check" *ngIf="element.is_ecp"
        >check_circle</mat-icon
      >
      <mat-icon class="table__ecp--cancel" *ngIf="!element.is_ecp"
        >cancel</mat-icon
      >
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef class="table__header-row">Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
  </ng-container> -->

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="table__header"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
