<div class="filter" [class]="isOpen ? '' : 'filter__close'">
  <span class="filter__header">Фильтр</span>
  <form class="filter__form" [formGroup]="myForm">
    <div class="filter__input userName">
      <mat-label
        class="input__label"
        [class]="isValidControl('name') ? 'input__label--invalid' : ''"
        >Логин</mat-label
      >
      <mat-form-field class="input__field">
        <input
          matInput
          type="text"
          formControlName="name"
          class="input__field-input"
          [class]="isValidControl('name') ? 'input__field-input--invalid' : ''"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clear('name')"
          class="input__field-button"
          [class]="isValidControl('name') ? 'input__field-button--invalid' : ''"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <mat-error
        *ngIf="isValidControl('name') && myForm.controls['name'].touched"
      >
        Please enter a valid login
      </mat-error>
    </div>
    <div class="filter__input phone">
      <mat-label
        class="input__label"
        [class]="isValidControl('phone') ? 'input__label--invalid' : ''"
        >Телефон</mat-label
      >
      <mat-form-field class="input__field">
        <input
          matInput
          type="text"
          formControlName="phone"
          class="input__field-input"
          [class]="isValidControl('phone') ? 'input__field-input--invalid' : ''"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clear('phone')"
          class="input__field-button"
          [class]="
            isValidControl('phone') ? 'input__field-button--invalid' : ''
          "
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <mat-error
        *ngIf="isValidControl('phone') && myForm.controls['phone'].touched"
      >
        Please enter a valid phone
      </mat-error>
    </div>
    <div class="filter__input date-create">
      <mat-label
        class="input__label"
        [class]="
        myForm.controls['create_at']?.errors?.['date'] && myForm.controls['create_at'].dirty
            ? 'input__label--invalid'
            : ''
        "
        >Дата создания</mat-label
      >
      <mat-form-field class="input__field datepicker">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="create_at"
          [class]="
          myForm.controls['create_at']?.errors?.['date'] ? 'input__field-input--invalid' : ''
          "
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon
            matDatepickerToggleIcon
            [class]="
            myForm.controls['create_at']?.errors?.['date'] &&
              myForm.controls['create_at'].dirty
                ? 'input__field-button--invalid'
                : ''
            "
            >calendar_month</mat-icon
          >
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-error
        *ngIf="
        myForm.controls['dateCreate']?.errors?.['date'] && myForm.controls['dateCreate'].touched
        "
      >
        Please enter a valid date
      </mat-error>
    </div>
    <div class="filter__input status">
      <mat-label class="input__label">Статус</mat-label>
      <mat-form-field class="input__field select">
        <select matNativeControl formControlName="status">
          <option value="" selected></option>
          <option value="ACTIVE">Активный</option>
          <option value="BLOCK">Заблокированный</option>
        </select>
      </mat-form-field>
    </div>
    <div class="filter__input mail">
      <mat-label
        class="input__label"
        [class]="isValidControl('email') ? 'input__label--invalid' : ''"
        >E-mail</mat-label
      >
      <mat-form-field class="input__field">
        <input
          matInput
          type="text"
          formControlName="email"
          class="input__field-input"
          [class]="isValidControl('email') ? 'input__field-input--invalid' : ''"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clear('email')"
          class="input__field-button"
          [class]="
            isValidControl('email') ? 'input__field-button--invalid' : ''
          "
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-form-field>
      <mat-error
        *ngIf="isValidControl('email') && myForm.controls['email'].touched"
      >
        Please enter a valid email
      </mat-error>
    </div>
    <div class="filter__input role">
      <mat-label class="input__label">Роль</mat-label>
      <mat-form-field class="input__field datepicker">
        <select matNativeControl formControlName="is_admin">
          <option value="" selected></option>
          <option value="user">Пользователь</option>
          <option value="admin">Администратор</option>
        </select>
      </mat-form-field>
    </div>
    <div class="filter__input date-update">
      <mat-label
        class="input__label"
        [class]="
        myForm.controls['update_at']?.errors?.['date'] && myForm.controls['update_at'].dirty
            ? 'input__label--invalid'
            : ''
        "
        >Дата изменения</mat-label
      >
      <mat-form-field class="input__field datepicker">
        <input
          matInput
          [matDatepicker]="picker2"
          formControlName="update_at"
          [class]="
          myForm.controls['update_at']?.errors?.['date'] ? 'input__field-input--invalid' : ''
          "
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker2">
          <mat-icon
            matDatepickerToggleIcon
            [class]="
            myForm.controls['update_at']?.errors?.['date'] &&
              myForm.controls['update_at'].dirty
                ? 'input__field-button--invalid'
                : ''
            "
            >calendar_month</mat-icon
          >
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-error
        *ngIf="
          myForm.controls['update_at'].errors?.['date'] && myForm.controls['update_at'].touched
        "
      >
        Please enter a valid date
      </mat-error>
    </div>
  </form>
  <div class="filter__buttons">
    <app-button
      text="Применить"
      hight="48px"
      class="filter__button"
      (click)="applyFilter()"
    ></app-button>
    <app-button
      text="Отмена"
      hight="48px"
      [disabled]="true"
      class="filter__button"
      [disabled]="!sendFilter"
      (click)="cancelFilter()"
    ></app-button>
    <app-button
      text="Сбросить"
      hight="48px"
      [disabled]="myForm.pristine"
      class="filter__button"
      (click)="clearAll()"
    ></app-button>
  </div>
</div>
