.filter {
  box-sizing: border-box;
  width: 100%;
  padding: 32px 62px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

  @media (max-width: 1599px) {
    padding: 24px 56px;
  }
  @media (max-width: 1439px) {
    padding: 24px 48px;
  }
  @media (max-width: 1023px) {
    padding: 24px 40px;
  }
  @media (max-width: 767px) {
    padding: 24px 14px 24px 17px;
  }

  &__close {
    display: none;
  }

  &__header {
    color: #282828;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__input {
    margin: 0 0 24px 0;

    &:not(:nth-child(4n)) {
      @media (min-width: 1850px) {
        margin-right: 24px;
      }
      margin-right: 24px;
      @media (max-width: 1599px) {
        margin-right: 0;
      }
    }

    &:not(:nth-child(3n)) {
      @media (min-width: 1850px) {
        margin-right: 24px;
      }
      @media (max-width: 1599px) {
        margin-right: 24px;
      }
      @media (max-width: 1310px) {
        margin-right: 0;
      }
      @media (max-width: 1024px) {
        margin-right: 24px;
      }
    }

    &:nth-child(1n) {
      @media (min-width: 1850px) {
        margin-right: 24px;
      }
      @media (max-width: 1310px) {
        margin-right: 24px;
      }
      @media (max-width: 1124px) {
        margin-right: 15px;
      }
      @media (max-width: 790px) {
        margin-right: 10px;
      }
    }
  }

  &__buttons {
    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__button {
    &:nth-child(1n) {
      margin-right: 24px;
      @media (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}

.input {
  &__label {
    display: block;
    color: #282828;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    &--invalid {
      color: #ff001f;
    }
  }

  &__field {
    margin-top: 10px;
    &--invalid {
      border-color: #ff001f !important;
    }
  }

  &__field-button {
    color: #a2a9b1;
    &--invalid {
      color: #ff001f;
    }
  }
  &__field-input {
    color: #282828 !important;
    &--invalid {
      color: #ff001f !important;
    }
  }
}
