<div class="setting">
  <app-back-button text="Назад"></app-back-button>
  <h1 class="setting__header">
    Настройка учетных записей сотрудников контрагента
  </h1>
  <!-- <div class="setting__da">
    <app-button text="Добавить"></app-button>
    <app-button
      text="Разблокировать"
      [iconPosition]="getEnum('IconPosition').left"
    ></app-button>
    <app-button
      text="Добавить"
      [iconPosition]="getEnum('IconPosition').right"
    ></app-button>
    <app-button
      text="Фильтр"
      [iconPosition]="getEnum('IconPosition').left"
      [color]="getEnum('IconColor').secondary"
    ></app-button>
  </div> -->
</div>
