<div class="setting">
  <app-back-button text="Назад"></app-back-button>
  <h1 class="setting__header">
    Настройка учетных записей сотрудников контрагента
  </h1>

  <div class="setting__buttons">
    <div class="setting__buttons--left">
      <app-button
        text="Добавить"
        [iconPosition]="getEnum('IconPosition').right"
      ></app-button>
      <app-button
        text="Разблокировать"
        [iconPosition]="getEnum('IconPosition').right"
      ></app-button>
      <app-button
        text="Заблокировать"
        [iconPosition]="getEnum('IconPosition').right"
      ></app-button>
    </div>
    <div class="setting__buttons--right">
      <app-button
        text="Фильтр"
        [iconPosition]="getEnum('IconPosition').left"
        [color]="getEnum('IconColor').secondary"
      ></app-button>
    </div>
  </div>

  <!-- <div class="setting__da">
    <app-button text="Добавить"></app-button>
    
  </div> -->
</div>
