<div class="setting">
  <div class="setting__next-button">
    <app-back-button text="Назад"></app-back-button>
  </div>
  <h1 class="setting__header">
    Настройка учетных записей сотрудников контрагента
  </h1>

  <div class="setting__buttons">
    <div class="setting__buttons--left">
      <div class="setting__button">
        <app-button
          text="Добавить"
          [iconPosition]="getEnum('IconPosition').right"
          icon="add_circle"
        ></app-button>
      </div>
      <div class="setting__button">
        <app-button
          text="Разблокировать"
          [iconPosition]="getEnum('IconPosition').right"
          icon="check_circle"
        ></app-button>
      </div>
      <div class="setting__button">
        <app-button
          text="Заблокировать"
          [iconPosition]="getEnum('IconPosition').right"
          icon="cancel"
        ></app-button>
      </div>
    </div>
    <div class="setting__buttons--right">
      <app-button
        text="Фильтр"
        [iconPosition]="getEnum('IconPosition').left"
        [color]="getEnum('IconColor').secondary"
        icon="filter_list"
        (click)="toggleFilter()"
      ></app-button>
    </div>
  </div>

  <div class="setting__filter">
    <app-filter [isOpen]="filter"></app-filter>
  </div>
</div>
