:host {
  width: 100%;
}

.setting {
  padding: 40px 40px 50px 24px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding: 40px 44px 50px 44px;
  }

  @media (max-width: 768px) {
    padding: 40px 40px 50px 40px;
  }

  @media (max-width: 600px) {
    padding: 40px 0 50px 0;
  }

  &__header {
    margin-top: 32px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #282828;
    @media (max-width: 1024px) {
      font-size: 22px;
    }
    @media (max-width: 600px) {
      margin-left: 14px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      margin-left: 14px;
    }

    &--left {
      display: flex;
      align-items: center;
      @media (max-width: 600px) {
        max-width: 400px;
        flex-wrap: wrap;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        margin-top: 24px;
      }
      @media (max-width: 600px) {
        margin-top: 8px;
      }
    }
  }

  &__button {
    &:not(:last-child) {
      margin-right: 24px;
      @media (max-width: 600px) {
        margin-right: 0;
      }
    }
    &:not(:nth-child(2)) {
      @media (max-width: 600px) {
        margin-right: 16px;
      }
    }
    &:nth-child(3) {
      @media (max-width: 600px) {
        margin-top: 8px;
      }
    }
  }

  &__next-button {
    @media (max-width: 600px) {
      margin-left: 14px;
    }
  }

  &__filter {
    margin-top: 32px;
  }

  &__tables {
    margin-top: 32px;
    overflow-x: auto;
  }
}
